<app-header></app-header>

<br>
<br>


<div class="card-container">

    <mat-card class="card" routerLink="/roadmap">

      <mat-card-header>
        <div class="title-container">
            <mat-card-title ><h2>Funder</h2></mat-card-title>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>Content for funder goes here.</p>
        <br>
        <p>Content for funder goes here.</p>
        <br>
        <p>Content for funder goes here.</p>
        <br>
        <p>Content for funder goes here.</p>
        <br>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="card" routerLink="/funder">

      <mat-card-header>
        <div class="title-container">
            <mat-card-title ><h2>Member</h2></mat-card-title>
        </div>
      </mat-card-header>

      <mat-card-content>
        <p>Content for member goes here.</p>
        <br>
        <p>Content for member goes here.</p>
        <br>
        <p>Content for member goes here.</p>
        <br>
        <p>Content for member goes here.</p>
        <br>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="card" routerLink="/funder">
      <mat-card-header>
        <div class="title-container">
            <mat-card-title ><h2>Collaborator</h2></mat-card-title>
        </div>
      </mat-card-header>
    
      <mat-card-content>
        <p>Content for collaborator goes here.</p>
        <br>
        <p>Content for collaborator goes here.</p>
        <br>
        <p>Content for collaborator goes here.</p>
        <br>
        <p>Content for collaborator goes here.</p>
        <br>
      </mat-card-content>
    </mat-card>
  </div>
  
