<app-header></app-header>

<br>
<br>


<div class="card-container">

    <mat-card class="card" routerLink="/roadmap">

      <mat-card-header>
        <div class="title-container">
            <mat-card-title ><h2>Funder</h2></mat-card-title>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>Funders play a crucial role in our mission to empower individuals facing financial challenges. 
          Their contributions enable us to provide essential services and resources that help our members grow financially. 
         Through their support, funders are instrumental in creating pathways for individuals to achieve financial 
          independence and improve their quality of life.</p>
       
      </mat-card-content>
    </mat-card>
  
    <mat-card class="card" routerLink="/funder">

      <mat-card-header>
        <div class="title-container">
            <mat-card-title ><h2>Member</h2></mat-card-title>
        </div>
      </mat-card-header>

      <mat-card-content>
        <!-- <p>Content for member goes here.</p> -->
        <br>
        Members are at the heart of our mission to promote financial growth. 
        Their active participation and engagement are vital to the success of our programs. 
        Through their commitment and involvement, members not only enhance their own financial 
        situations but also contribute to a vibrant community focused on overcoming financial challenges.
      
      </mat-card-content>
    </mat-card>
  
    <mat-card class="card" routerLink="/funder">
      <mat-card-header>
        <div class="title-container">
            <mat-card-title ><h2>Collaborator</h2></mat-card-title>
        </div>
      </mat-card-header>
    
      <mat-card-content>
        <p>
          Collaborate to ensure Financial Growth for those in need
          <br>
          
          Join us in our mission to help individuals in poverty thrive financially by leveraging a wide range of resources and collaborations. 
          We connect with financial advisors, entrepreneurs, educators, and organizations dedicated to financial literacy. 
          
          <!-- Financial Experts: Certified planners and investment advisors offering practical money management and investment strategies.
          Successful Entrepreneurs: Experienced mentors sharing insights on building businesses and generating multiple income streams.
          Educational Institutions: Access to courses on financial management and entrepreneurship from top universities and online platforms.
          Nonprofit Organizations: Collaborating with groups focused on enhancing financial literacy and wealth-building in communities.
          Tech Innovators: Partnering with personal finance apps and fintech companies to provide tools for effective money management. -->

          Together, we can provide the knowledge, resources, and support needed for individuals to improve their financial situation and build a brighter future.</p>
        <br>
        <!-- <p>Content for collaborator goes here.</p>
        <br>
        <p>Content for collaborator goes here.</p>
        <br>
        <p>Content for collaborator goes here.</p>
        <br> -->
      </mat-card-content>
    </mat-card>
  </div>
  
