
  <div class="custom-tab-group">
    <mat-tab-group style="width: 80%; margin: 0 auto;" >
        <mat-tab label="Sign Up"> 
            <label class="ip_label">First Name</label>
            <br>
            <input type="text" name="" id="" placeholder="First Name">  
            <br>
            <br>
            <label class="ip_label">Last Name:</label>
            <br>
            <input type="text" name="" id="" placeholder="Last Name"> 
            <br>
            <br>
            <label class="ip_label">Email:</label>
            <br>
            <input type="email" name="" id="" placeholder="example@example.com"> 
            <br>
            <br>
            <button style ="background-color:rgb(99, 99, 214); color:white; width:24%; padding:2px; margin:3% 0; border-radius: 5px;"> Sign up</button>

        </mat-tab>
        <mat-tab label="Identify Financial Goals"> 
            <label class="ip_label">My savings I can afford..</label>
            <br>
                <select>
                    <option>---Please choose an option---</option>
                    <option>I have no savings</option>
                    <option>Nothing</option>
                    <option>Very little</option>
                    <option>Enough for Small emergency</option>
                    <option>Used Car</option>
                    <option>New Car</option>
                    <option>Rent</option>
                    
                    <option>Mortgage</option>




                </select>
            <br>
            <br>
            <label class="ip_label">I would like to be able to afford</label>
            <br>
                <select>
                    <option>---Please choose an option---</option>
                    <option>Basic Necessities</option>

                    <option>Groceries</option>
                    <option>Having money in my savings</option>
                    <option>Having Enough for Small emergency </option>
    
                    <option>Used Car</option>
                    <option>New Car</option>
                    <option>Rent</option>

                    <option>Mortgage</option>




                </select>
            <br>
            <br>
            <button style ="background-color:rgb(99, 99, 214); color:white; width:24%; padding:2px; margin:3% 0; border-radius: 5px;"> See opportunities</button>

            
        </mat-tab>
        <mat-tab label="View your funding opportunities"><p> Funding Opportunities:</p> </mat-tab>
    </mat-tab-group>
</div>