<app-header></app-header>
<br>
<br>

<!-- <div class="img_cont">
    <img src="https://i.postimg.cc/Wpggg2dX/istockphoto-667315360-612x612.jpg" alt="Description of Image" class="header-image " style="text-align: center;">
    <h3 >Who are we?</h3>
     <p style="display: inline-block;"> -->
        <!-- We are an organization determined to help those who need it most. At times there is funding
        freely available while other times there are methods of clearly and effectively growing one's wealth. Many times 
        people are unable to grow financially because of lack of knowledge. We are here to 
       consolidate the help and assist those who need it most all in one place.
    </p> -->
<!-- </div> -->

<!-- <div>
    <h3 >Mission</h3>
   <p>Our mission is to help reduce the amount of people with little or no money by educating them and guiding them 
    every step of the way in their path to financial security. We provide clear steps and reccomendations for each case based 
    on the needs of each individual.</p>
    <br>
    <br>
</div> -->
<div class="center" style="text-align: center;">
    <!-- <img src="your-image.jpg" alt="Description of Image"> -->
    <img src="https://i.postimg.cc/Wpggg2dX/istockphoto-667315360-612x612.jpg" alt="Description of Image" class="header-image " >

</div>
<!-- <img src="https://i.postimg.cc/Wpggg2dX/istockphoto-667315360-612x612.jpg" alt="Description of Image" class="header-image " > -->

<div class="card-container">

    <mat-card class="card" routerLink="/roadmap">

      <mat-card-header>
        <div class="title-container">
            <mat-card-title ><h2>Mission</h2></mat-card-title>
        </div>
      </mat-card-header>
      <mat-card-content>

        <!-- <h3 >Mission</h3> -->
        <p>Our mission is to help reduce the amount of people with little or no money by educating them and guiding them 
         every step of the way in their path to financial security. We provide clear steps and reccomendations for each case based 
         on the needs of each individual.</p>
         <br>
         <br>
       
      </mat-card-content>
    </mat-card>
  
    <mat-card class="card" >

      <mat-card-header>
        <div class="title-container">
            <mat-card-title ><h2>Who are we?</h2></mat-card-title>
        </div>
      </mat-card-header>

      <mat-card-content>
        <!-- <p>Content for member goes here.</p> -->
        <br>
        We are an organization determined to help those who need it most. At times there is funding
        freely available while other times there are methods of clearly and effectively growing one's wealth. Many times 
        people are unable to grow financially because of lack of knowledge. We are here to 
       consolidate the help and assist those who need it most all in one place.
      
      </mat-card-content>
    </mat-card>
  
    
  </div>